*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #484848;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    margin-top: 70px;
}
.container{
    max-width: 1280px;   
    margin: auto;
}
.logo{
    font-family: 'Volkhov';
    font-size: 52px;
    font-weight: 400;
    color: #484848;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 70px;
}
.nav_link{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.header-icons-container{
    display: flex;
    align-items: center;
    gap: 20px;
}