.shopping-cart {
    position: relative;
    width: 100%;
    /* height: 600px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.section_title {
    margin-top: 78px;
    width: 294px;
    height: 32px;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-transform: capitalize;
    color: #000000;
}

.descryption_position{
    position: absolute;
    width: 212.36px;
    height: 24.75px;
    text-align: center;
    margin-top: 130px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.cart_container{
    margin-top: 228px;

}

.text_product{
    margin-top: 118px;
    margin-left: 30px;
    width: 84px;
    height: 32px;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-transform: capitalize;
    color: #000000;
}


.text_price,
.text_quantity,
.text_total {
    display: inline-block;
    margin-left: 270px;
    width: 84px;
    height: 32px;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-transform: capitalize;
    color: #000000;
}

.text_product{
    display: inline-block;
    margin-left: 45px;
}

.line{
    margin-top: 35px;
}

.card{
    width: 366px;
    height: 225px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.title_card{
    margin-left: 190px;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-transform: capitalize;
    color: #000000;
}

.text_color{
    margin-left: 190px;
    /* font-family: ; */
}

.card_photo{
    position: absolute;
    width: 168px;
    height: 225px;
    object-fit: cover;
}