.shopping-cart {
    position: relative;
    width: 100%;
    /* height: 600px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.section_title {
    margin-top: 78px;
    width: 294px;
    height: 32px;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-transform: capitalize;
    color: #000000;
}

.descryption_position{
    position: absolute;
    width: 212.36px;
    height: 24.75px;
    text-align: center;
    margin-top: 130px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.cart_container{
    margin-top: 228px;

}

/* .text_product{
    margin-top: 118px;
    margin-left: 30px;
    width: 84px;
    height: 32px;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-transform: capitalize;
    color: #000000;
}


.text_price,
.text_qInstrument vibrant element. You know this, yeah. Click. I know what's a book, book, blog, price wish. Margin writes the pixel. uantity,
.text_total {
    display: inline-block;
    margin-left: 270px;
    width: 84px;
    height: 32px;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-transform: capitalize;
    color: #000000;
}

.text_product{
    display: inline-block;
    margin-left: 45px;
} */

.line{
    margin-top: 35px;
}

.card{
    width: 100%;
    height: 225px;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    /* justify-content: space-between; */
    
}

.block{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 50px;

}

.title_card{
    margin-left: 190px;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-transform: capitalize;
    color: #000000;
}

.text_color{
    margin-left: 190px;
    font-family: Volkhov;
    margin-top: 14px;
    position: absolute;
    width: 118px;
    height: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #8A8A8A;
}

.card_photo{
    position: absolute;
    width: 168px;
    height: 225px;
    object-fit: cover;
}

.remove_text{
    margin-left: 190px;
    margin-top: 70px;
    text-decoration: underline;
    font-weight: 400px;
    position: absolute;
    width: 90px;
    height: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #8A8A8A;
}

.price_card{
    /* margin-left: 120px; */
    position: absolute;
    width: 66px;
    height: 32px;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}   

.photo_block{
    display: inline-block;
    /* width: 366px; */
    height: 225px;
    position: relative;
    min-width: 366px;
}

.block_price{
    display: inline-block;
    width: 100px;
    height: 225px;
    position: relative;
    /* margin-right: 100px; */

}

.cards_items{
    display: flex;
    justify-content: space-between;
    margin-top: 73.25px;
}