*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   color: #484848;
}
.container{
   max-width: 1280px;
   margin: auto;
}
/* Header */
.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 70px;
}
.logo{
   font-family: 'Volkhov';
   font-size: 52px;
   font-weight: 400;
   color: #484848;
}
.navbar{
   display: flex;
   align-items: center;
   gap: 58px;
}
.nav_link{
   font-family: 'Poppins';
   font-size: 16px;
   font-weight: 400;
   text-decoration: none;
   color: #484848;
}
.header_btn{
   padding: 20px 45px;
   background-color: #000;
   border: none;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   cursor: pointer;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.product_photo{
    position: absolute;
    width: 336px;
    height: 244px;
    /* object-fit: cover;
    object-position: top center; */
    overflow: hidden;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
}
.product_photo_img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   transform: scale(2.0);
   transform-origin: top center;
}

.product{
    width: 386px;
    height: 438px;

    border: 1px solid #E0E0E0;
    border-radius: 10px;
    box-shadow: 0px 40px 90px 0px rgba(0, 0, 0, 0.06);
}

.product_name{
    margin-top: 271px;
    fonT-size: 20px;
    margin-left: 25px;
}

.descryption{
    color: #8A8A8A;
    font-family:  Poppins;
    font-size: 12px;
    margin-left: 25px;

    position: absolute;
    width: 56px;
    height: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #8A8A8A;
}

.reviews{
    margin-left: 25px;
    margin-top: 38px;
    position: absolute;
    width: 149px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #484848;
}

.price_text{
    margin-top: 81px;
    margin-left: 25px;
    position: absolute;
    width: 82px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #484848;


}

.product_raiting{
    display: flex;
    gap: 0;
    margin-left: 266px;
}
