*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   color: #484848;
}
.container{
   max-width: 1280px;
   margin: auto;
}
/* Header */
.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 70px;
}
.logo{
   font-family: 'Volkhov';
   font-size: 52px;
   font-weight: 400;
   color: #484848;
}
.navbar{
   display: flex;
   align-items: center;
   gap: 58px;
}
.nav_link{
   font-family: 'Poppins';
   font-size: 16px;
   font-weight: 400;
   text-decoration: none;
   color: #484848;
}
.header_btn{
   padding: 20px 45px;
   background-color: #000;
   border: none;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   cursor: pointer;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.new-arrivals{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-arrivals-title{
    font-size: 46px;
    font-family: 'Volkhov';
    font-weight: 400;
    margin-bottom: 20px;

}
.new-arrivals-text{
    color: #8A8A8A;
    font-size: 16px;
    font-weight: 400;
    max-width: 614px;
    margin-bottom: 50px;
}
.new-arrivals-buttons-container{
    display: flex;
    max-width: 1155px;
    gap: 30px;
}
.new-arrivals-button{
    width: 207px;
    height: 56px;
    border: none;
    background-color: #FAFAFA;
    color: #8A8A8A;
    font-size: 16px;
    font-weight: 400;
}
.active{
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 20px 35px 0px #00000026;
}
