*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   color: #484848;
}
.container{
   max-width: 1280px;
   margin: auto;
}
/* Header */
.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 70px;
   margin-bottom: 94px;
}
.logo{
   font-family: 'Volkhov';
   font-size: 52px;
   font-weight: 400;
   color: #484848;
}
.navbar{
   display: flex;
   align-items: center;
   gap: 58px;
}
.nav_link{
   font-family: 'Poppins';
   font-size: 16px;
   font-weight: 400;
   text-decoration: none;
   color: #484848;
}
.header_btn{
   padding: 20px 45px;
   background-color: #000;
   border: none;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   cursor: pointer;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.new-arrivals{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-arrivals-title{
    font-size: 46px;
    font-family: 'Volkhov';
    font-weight: 400;
    margin-bottom: 20px;

}
.new-arrivals-text{
    color: #8A8A8A;
    font-size: 16px;
    font-weight: 400;
    max-width: 614px;
    margin-bottom: 50px;
}
.new-arrivals-buttons-container{
    display: flex;
    justify-content: space-between;
    max-width: 1155px;
    gap: 30px;
}
.new-arrivals-button{
    width: 207px;
    height: 56px;
    border: none;
    background-color: #FAFAFA;
    color: #8A8A8A;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.active{
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 20px 35px 0px #00000026;
}
.ultimate-sale-container{
   width: 100%;
   height: 756px;
   display: flex;
   gap: 35px;
   margin-bottom: 27px;
}
.ultimate-sale-pic-bg{
   background-color: #E0E0E0;
}
.ultimate-sale-pic-1-bg, .ultimate-sale-pic-2-bg{
   width: 392px;
   height: 756px;   
   display: flex;
   align-items: flex-end;
   justify-content: center;
}
.ultimate-sale-pic-3-bg, .ultimate-sale-pic-4-bg{
   width: 426px;
   height: 150px;
}
.ultimate-sale-pic{
   border-radius: 10px;
}
.ultimate-sale-pic-3-bg{
   display: flex;
   align-items: flex-end;
   justify-content: center;
}
.ultimate-sale-pic-3{
   width: 399px;
   height: 145px;
}
.ultimate-sale-title-1{
   font-size: 91px;
   font-weight: 500;
   line-height: 91px;
}
.ultimate-sale-title-2{  
   line-height: 187px;
   font-size: 187px;
   font-weight: 500;
   -webkit-text-stroke: 1px #484848;
   color: white;
}
.ultimate-sale-middle-container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.ultimate-sale-text{
   font-size: 20px;
   font-weight: 400;
   letter-spacing: 2px;
   margin-bottom: 19px;
}
.ultimate-sale-text-block{
   width: 383px;
   height: 396px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.ultimate-sale-button{
   width: 207px;
   height: 56px;
   background-color: #000;
   border: none;
   border-radius: 10px;
   color: #fff;
   font-size: 16px;
   font-weight: 400;
   cursor: pointer;
}
.logos-container{
   align-items: center;
   width: 100%;
   height: 200px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 100px;
}
.modal{
   background-color: #66666696;
   height: 100vh;
   margin-top: 50px;
   overflow: hidden;
}
.modal-container{
   width: 741px;
   height: 990px;
   background-color: #fff;
   padding: 45px 44px;
   float: right;
}
.modal-container h1{
   font-family: Volkhov;
   color: black;
   font-weight: lighter;
   font-size: 50px;
}
.modal-container p{
   font-size: 28px;
   margin-top: 10px;
   font-family: Poppins;
}
.modal-container p span{
   font-weight: bold;
   color: black;
   font-size: 29px;
}
.product-info{
   display: flex;
   margin-top: 55px;
   gap: 10px;
}
.product-image{
   width: 168px;
   height: 180px;
}
.product-info-less{
   margin-left: 12px;
}
.product-info-less h2{
   font-size: 26px;
   margin-bottom: 10px;
   font-family: Volkhov;
}
.product-info-less p{
   font-size: 27px;
   margin-bottom: 20px;
}
.btn-take-product{
   border: none;
   background: none;
   font-size: 35px;
}
.btn-add-product{
   border: none;
   background: none;
   font-size: 35px;
}
.amount{
   background-color: #F1F1F1;
   width: 170px;
   height: 59px;
   border-radius: 8px;
   padding: 10px 10px;
   display: flex;
   justify-content: space-around;
   align-items: center
}
.product-amount{
   font-size: 33px;
   color: #8A8A8A;
}
.modal-hr{
   color: rgba(0, 0, 0, 0.39);
}
.subtotal{
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}
.subtotal h2, p{
   font-family: volkhov;
   color: black;
}
.subtotal-checkout{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.checkout-btn{
   border: none;
   background-color: black;
   color: white;
   width: 610px;
   height: 66px;
   border-radius: 10px;
   margin-top: 20px;
   font-size: 20px;
}
.subtotal-checkout h3{
   font-family: volkhov;
   text-decoration: underline;
   color: black;
   font-size: 23px;
   font-weight: lighter;
   margin-top: 15px;
}